/* Body Styles */
body {
    margin: 0; /* Remove default margin */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased; /* Improve font rendering on WebKit-based browsers */
    -moz-osx-font-smoothing: grayscale; /* Improve font rendering on Firefox for macOS */
    min-width: 300px;
    min-height: 200px;
    background: url('assets\art-deco.jpg') no-repeat center center fixed; /* Add your art-deco asset here */
    background-size: cover; /* Make sure the background image covers the whole screen */
}

/* Container Styles */
.container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    height: auto;
    width: 300px;
    max-width: 400px;
    margin: auto;
    padding-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Content Section Styles */
.content {
    display: flex;
    flex-direction: column;
    background-color: rgba(248, 249, 250, 0.9); /* Semi-transparent light background */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for divs inside the .content section */
.content div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Code Block Styling */
.code-blocks span {
    background-color: rgb(95, 116, 160);
    padding: 10px;
    border-radius: 8px;
    color: rgb(62, 63, 67);
    padding-right: 12px;
    padding-left: 12px;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}

/* Title Styles */
#title {
    font-size: 24px; /* Adjust the size as needed */
    font-weight: bold;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    color: maroon; /* Maroon color for the title */
}

/* Button Styles */
.btn {
    font-size: 14px;
    background-color: #333; /* Darker charcoal background */
    color: white;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 10px;
    border-radius: 5px;
}

/* Button Hover Effects */
.btn:hover {
    background-color: #555; /* Slightly lighter charcoal on hover */
    transform: translateY(-2px);
}

/* Button Active State */
.btn:active {
    background-color: #222; /* Even darker on active */
    transform: translateY(0);
}
